/.idea
/35 degrees reformed.csv
/45 degrees conc.csv
/45 degrees reformed.csv
/45 degrees.csv
/50 degrees reformed.csv
/50 degrees.csv
/55 degrees reformed.csv
/55 degrees.csv
/flashed room temp reformed.csv
/flashed room temp.csv
/unflashed room temp reformed.csv
/unflashed room temp.csv
/venv